/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  font-family:'Baloo Da 2', cursive;;
}

html{
  scroll-behavior: smooth;
}

/* CSS Variables */
:root{
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
  margin: 10px 34px;
}

#logo img{
  border-radius: 25px;
  height: 50px;
  margin: 1px;
  border: solid 1px white;
}


/* Navigation Bar: List Styling */

#navbar ul{
  display: flex;
  font-family:  'Baloo Da 2', cursive;;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: white;
  display: block;
  padding: 1px 20px;
  margin: 2px;
  text-decoration: none;
}

#navbar ul li a:hover, .active{
  border-radius: 10px;
  border: solid 1px white;
}

/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  padding:3px 80px;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-shadow:2px 2px 3px black;
  background-color: rgba(0, 0, 0, 0.185);
}

#home::before{ 
  content: "";
  position: absolute;
  background: url('../pic/bg/pic2.jpg') no-repeat center center/cover;
  height: 642px;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity:0.82;
}

#home h1{
  color:white;
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
}

#home p{
  color:white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Hind Siliguri', sans-serif;
}

/* Notice */
#notice {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-rows: 45px;
  align-items: center;
  justify-content: center;
  margin: 10px 1px;
  font-size: 19px;
  color: white;
  background-color: #2f2b2ad4;
}

.nitem{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.nitem:nth-child(1){
  font-size: 21px;
  background-color:  #1b4058;
   border: #f0ffd3 solid 1px;
}

/* Services Section */

#services{
  margin: 25px;
  display: flex;
}
#services .box {
  background: #f2f2f2;
  border: 2px solid rgb(1, 101, 131);
  padding: 25px;
  margin: 2px 25px;
  border-radius: 13px;
}

#services .box img{ 
 height: 150px;
 margin: auto;
 display: block;
}

#services .box p {
  font-family: 'Hind Siliguri', sans-serif;
  padding: 10px 1px;
}

/* best sellting */
.bsitem:nth-child(1){
  text-align: center;
  background-color: rgb(171, 112, 226);
}

.bsitem:nth-child(2){
  display: flex;
  margin: 1vw auto;
  padding: 3vw;
  /* border: brown solid 2px; */
  flex-wrap: wrap;
}

.bsitem:nth-child(2) img,.bsitem:nth-child(2) div{
  width: 46vw;
}
.bsitem:nth-child(2) div{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* Clients Section */
#client-section{ 
  background-image:radial-gradient(rgba(134, 134, 134, 0.4),rgba(131, 131, 131, 0.4)),url('../pic/bg/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}


#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item{
  padding: 25px;
}

#clients img{
  height: 150px;
}





/* Contact Section */




#contact{
  background-image:radial-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url('../pic/bg/bg.jpg');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  width: 100%;
  height: 100%;
}

#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
} 

#contact-box form{
  width: 50%;
}

#contact-box label{
 font-size: 1.3rem;
 font-family: 'Hind Siliguri', sans-serif;

}


#sbmt{
  padding: 5px;
  border: 1px solid white;
  background-color: #63656b;
  color: white;
  /* margin: 17px; */
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}


/* footer section */

footer{
  background: black;
  padding: 2vw;
  color: white;
}


#fitem{
  padding: 2vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ffitem{
text-align: justify;
}
/* Utility Classes */
.h-primary{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 3rem;
  padding: 12px;
  margin-top: 25px;
}

.h-secondary{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 2rem;
  padding: 10px;
}

.btn {
  padding: 5px 20px;
  border: 1px solid white;
  background-color: #63656b;
  color: white;
  margin: 17px;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.center{
  text-align: center;
}
.table{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 3px;
}
.titem{
  background-color: rgb(65, 63, 63);
color: white;
text-align: center;
padding: 1px;
}

.shadow{
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.bShadow{
  box-shadow: inset 20px 20px 25px 5px black, inset -25px -25px 50px 5px black;
}